.static{
    position: static;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    top: 20px;
    
}
.box1{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: gray;
    padding-top: 50px;
    margin-top: 10px;
    
    margin-bottom: -30px;
    
}
.absolute{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    padding-top: 10px;
    margin-left: 10px;  
    padding-bottom: 10px; 
    margin-top: 40px; 
}
.hopping{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color:aquamarine;
    margin-left: 50px;
    font-size: 30px;
    color: black;
}

.container{
    
    width: 200px;
    height: 250px;
    position: absolute;
    background-color: blue;
    margin-left: 50px;
}
.z-index{
    position: relative;


}
.z-index1{
    position:absolute;
    width: 190px;
    height: 140px;
    background-color: dimgrey;
    z-index: 90;
    
    margin-top: 60px;
    

}
.z-index2{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: tomato;
    margin-top: 20px;
    z-index: 50;

    
}

.fixed{
    position: fixed;
    
    width: 100%;
    height: 29px;
    background-color: aqua;
}
